<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Liên Hệ</h2>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Họ và Tên:*</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="họ và tên*">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Số điện thoại</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="số điện thoại">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Email(nếu có)</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="email(nếu có)">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Nội dung:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="nhập nội dung"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h3>Thông Tin Liên Hệ</h3>
            </div>
            <div class="text-left">
                <p>Hotline: 0334794364</p>
                <p>Địa chỉ: 28 Trịnh Đình Thảo, Phường Hà Thạnh, Quận Tân Phú</p>
                <p>Email: daohung200100@gmail.com</p>
                <p>Facebook:https://www.facebook.com/profile.php?id=100037450474245</p>
            </div>
            <div class="text-center">
                <h4 style="color: brown;">Hướng dẫn đường đi</h4>
                <br>
                <img src="/assets/img/5.png" alt="" height="400px" width="600px">
            </div>
        </div>
    </div>
</div>