<div class="container">
    <div class="text-center">
        <div class="sign-up-form">
            <img src="/assets/img/4.png" alt="">
            <h1>Sign Up Now</h1>
            <form>
                <input type="text" class="input-box" placeholder="full name">
                <input type="email" class="input-box" placeholder="email">
                <input type="Address" class="input-box" placeholder="address">
                <input type="phone" class="input-box" placeholder="phone">
                <input type="password" class="input-box" placeholder="password">
                <p><span><input type="checkbox"></span>i agree to the terms of services</p>
                <button type="button" class="signup-btn">Sign up</button>
                <hr>
                <p class="or">OR</p>
                <button type="button" class="signup2-btn">Sign</button>
                <p>terms of services ?<a href="#">singn in</a></p>
            </form>
        </div>
    </div>
</div>