<div class="container">
    <div class="text-center">
        <div class="login-box">
            <div class="left-box">
                <input type="text" name="username" placeholder="Username" />
                <input type="text" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <input type="password" name="password2" placeholder="Retypepassword" />
                <input type="submit" name="signup-button" value="Sign Up" />
            </div>
            <div class="right-box">
                <span class="signinwith">
                    sin in with <br />socisl network
                </span>
                <button class="social facebook">log in with facebook</button>
                <button class="social twitter">log in with twitter</button>
                <button class="social google">log in with google</button>
            </div>
            <div class="or">OR</div>
        </div>
    </div>
</div>