<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/img/6.jpg" alt="" height="200px;" width="330px;">
                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    lập trình android nâng cao
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/img/8.jpg" alt="" height="200px;" width="330px;">
                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    cơ sở dữ liệu
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/img/7.jpg" alt="" height="200px;" width="330px;">
                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    xây dựng trang web
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/img/9.jpg" alt="" height="200px;" width="330px;">
                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    SQL serve
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Danh Mục Môn Thi
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#">SQL Serve</a></li>
                    <li class="list-group-item"><a href="#">Lập trình PHP</a></li>
                    <li class="list-group-item"><a href="#">Lập trình android nâng cao</a></li>
                    <li class="list-group-item"><a href="#">Lập trình android cơ bảm</a></li>
                    <li class="list-group-item"><a href="#">Thiết kế layout</a></li>
                    <li class="list-group-item"><a href="#">Thiết kế giao diện android</a></li>
                    <li class="list-group-item"><a href="#">Quản lí dựu án với Agile</a></li>
                    <li class="list-group-item"><a href="#">Imternet Maketing</a></li>
                    <li class="list-group-item"><a href="#">Lập trình java</a></li>
                    <li class="list-group-item"><a href="#">Lập trình ASP.NET</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

