<div class="container">
    <div class="text-left">
        <b>Hỏi & Đáp</b>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">O</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Chọn đối tượng</option>
                    <option value="1">Cá nhân</option>
                    <option value="2">Công ty</option>
                    <option value="3">Doanh ngiệp</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">O</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">O</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                </select>
            </div>
        </div>
    </div>

</div>