<div class="container">
  <header class="banner">
    <img src="/assets/img/1.jpg" alt="" height="200" width="100%">
  </header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><b>MuaTC-Exam</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Giới Thiệu<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/lienhe']" href="#">Liên Hệ</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Góp ý</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/hoidap']" href="#" tabindex="-1" aria-disabled="true">Hỏi Đáp</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sign
          </a>
          <div class="dropdown-menu dropdown-menu-right login-home " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/dangky']" href="#">Đăng ký</a>
            <a class="dropdown-item" [routerLink]="['/dangnhap']" href="#">Đăng nhập</a>
            <a class="dropdown-item" [routerLink]="['/dangnhap']"href="#">Quên mật khẩu</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
            <a class="dropdown-item" href="#">Đổi mật khẩu</a>
            <a class="dropdown-item" href="#">Cập nhật mật khẩu</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>